{
  "openapi": "3.1.1",
  "info": {
    "title": "Atlas Stats API",
    "description": "The Atlas Stats API provides access to a wide range of statistical data, including GDP, population, and other key indicators for countries around the world. This API is designed to be fast, reliable, and easy to use, making it an ideal choice for developers looking to integrate statistical data into their applications.",
    "contact": {
      "name": "Atlas Stats",
      "url": "https://AtlasStatsAPI.com",
      "email": "support@AtlasStatsAPI.com"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://opensource.org/licenses/Apache-2.0"
    },
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.AtlasStatsAPI.com",
      "description": "Production Server"
    },
    {
      "url": "https://sandbox-api.AtlasStatsAPI.com",
      "description": "Sandbox Server for testing"
    }
  ],
  "paths": {
    "/v1/ApiKeys": {
      "get": {
        "tags": [
          "ApiKeys"
        ],
        "description": "Returns a list of the user's API key metadatas.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyMetadataPairDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ApiKeys/rotate": {
      "post": {
        "tags": [
          "ApiKeys"
        ],
        "description": "Rotates an existing API key, returning a new raw key.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Retrieves a filterable list of all countries with basic properties only (ISO codes).",
        "operationId": "GetCountries",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryDto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Countries/facts": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Retrieves a filterable list of all countries with comprehensive facts and aggregated data.",
        "operationId": "GetCountriesFacts",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryFactsDto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Countries/{code}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Gets basic properties for a single country.",
        "operationId": "GetCountryByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Countries/{code}/facts": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Gets a comprehensive profile with all facts for a single country.",
        "operationId": "GetCountryFactsByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryFactsDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Countries/count": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Retrieves the total count of countries in the database.",
        "operationId": "GetCountriesCount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "pattern": "^-?(?:0|[1-9]\\d*)$",
                  "type": [
                    "integer",
                    "string"
                  ],
                  "format": "int32"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Currencies": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "description": "Retrieves a list of all currencies with basic properties only (code and full name).",
        "operationId": "GetCurrencies",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyDto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Currencies/facts": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "description": "Retrieves a list of all currencies with comprehensive facts including countries where used.",
        "operationId": "GetCurrenciesFacts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyFactsDto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Currencies/{code}": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "description": "Gets basic properties for a single currency.",
        "operationId": "GetCurrencyByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Currencies/{code}/facts": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "description": "Gets a comprehensive profile with all facts for a single currency.",
        "operationId": "GetCurrencyFactsByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyFactsDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Currencies/count": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "description": "Retrieves the total count of currencies in the database.",
        "operationId": "GetCurrenciesCount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "pattern": "^-?(?:0|[1-9]\\d*)$",
                  "type": [
                    "integer",
                    "string"
                  ],
                  "format": "int32"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/FxRates/latest": {
      "get": {
        "tags": [
          "FxRates"
        ],
        "description": "Gets the latest foreign exchange rates against a base currency.",
        "operationId": "GetLatestFxRates",
        "parameters": [
          {
            "name": "base",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FxRateDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FxRateDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FxRateDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/FxRates/convert": {
      "get": {
        "tags": [
          "FxRates"
        ],
        "description": "Performs currency conversions for current or historical dates.",
        "operationId": "ConvertCurrency",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/Languages": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Retrieves a list of all languages with basic properties only (ISO codes and name).",
        "operationId": "GetLanguages",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LanguageDto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Languages/facts": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Retrieves a list of all languages with comprehensive facts including countries where spoken.",
        "operationId": "GetLanguagesFacts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LanguageFactsDto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Languages/{codeOrName}": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Gets basic properties for a single language.",
        "operationId": "GetLanguageByCodeOrName",
        "parameters": [
          {
            "name": "codeOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Languages/{codeOrName}/facts": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Gets a comprehensive profile with all facts for a single language.",
        "operationId": "GetLanguageFactsByCodeOrName",
        "parameters": [
          {
            "name": "codeOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageFactsDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Languages/count": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Retrieves the total count of languages in the database.",
        "operationId": "GetLanguagesCount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "pattern": "^-?(?:0|[1-9]\\d*)$",
                  "type": [
                    "integer",
                    "string"
                  ],
                  "format": "int32"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Stats/indicators": {
      "get": {
        "tags": [
          "Stats"
        ],
        "description": "Provides a list of all available statistical indicators (e.g., population).",
        "operationId": "GetIndicators",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Stats/{category}/{metric}": {
      "get": {
        "tags": [
          "Stats"
        ],
        "description": "Fetches historical time-series data for specified countries and indicators.",
        "operationId": "GetIndicatorData",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countries",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startYear",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/Stats/compare": {
      "get": {
        "tags": [
          "Stats"
        ],
        "description": "Returns a side-by-side comparison of specific stats for multiple countries.",
        "operationId": "CompareCountries",
        "parameters": [
          {
            "name": "countries",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicators",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/Users": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "GetCurrentUser",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiKeyDto": {
        "required": [
          "rawKey",
          "metadata"
        ],
        "type": "object",
        "properties": {
          "rawKey": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/ApiKeyMetadataDto"
          }
        }
      },
      "ApiKeyMetadataDto": {
        "required": [
          "keyPrefix",
          "createdAt",
          "lastUsedAt"
        ],
        "type": "object",
        "properties": {
          "keyPrefix": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastUsedAt": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          }
        }
      },
      "ApiKeyMetadataPairDto": {
        "required": [
          "activeApiKey",
          "expiringApiKey"
        ],
        "type": "object",
        "properties": {
          "activeApiKey": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ApiKeyMetadataDto"
              }
            ]
          },
          "expiringApiKey": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ApiKeyMetadataDto"
              }
            ]
          }
        }
      },
      "CountryDto": {
        "required": [
          "isoAlpha2",
          "isoAlpha3",
          "isoNumeric"
        ],
        "type": "object",
        "properties": {
          "isoAlpha2": {
            "type": "string"
          },
          "isoAlpha3": {
            "type": "string"
          },
          "isoNumeric": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          }
        }
      },
      "CountryFactsDto": {
        "required": [
          "commonName",
          "officialName",
          "isoAlpha2CountryCode",
          "isoAlpha3CountryCode",
          "isoNumericCountryCode",
          "sovereignty",
          "dependentTerritories",
          "flagImageUrls",
          "capitals",
          "languages",
          "currencies",
          "borderingCountries",
          "demonymn",
          "isUnMember",
          "isLandlocked",
          "areaKm2"
        ],
        "type": "object",
        "properties": {
          "commonName": {
            "type": "string"
          },
          "officialName": {
            "type": "string"
          },
          "isoAlpha2CountryCode": {
            "type": "string"
          },
          "isoAlpha3CountryCode": {
            "type": "string"
          },
          "isoNumericCountryCode": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "sovereignty": {
            "type": [
              "null",
              "string"
            ]
          },
          "dependentTerritories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "flagImageUrls": {
            "$ref": "#/components/schemas/FlagImageUrls"
          },
          "capitals": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LanguageDto"
            }
          },
          "currencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CurrencyDto"
            }
          },
          "borderingCountries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "demonymn": {
            "type": "string"
          },
          "isUnMember": {
            "type": "boolean"
          },
          "isLandlocked": {
            "type": "boolean"
          },
          "areaKm2": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "uint32"
          }
        }
      },
      "CurrencyDto": {
        "required": [
          "code",
          "fullName"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          }
        }
      },
      "CurrencyFactsDto": {
        "required": [
          "code",
          "fullName",
          "countriesWhereUsed"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "countriesWhereUsed": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountryDto"
            }
          }
        }
      },
      "FlagImageUrls": {
        "required": [
          "highRes",
          "mediumRes",
          "lowRes",
          "svg"
        ],
        "type": "object",
        "properties": {
          "highRes": {
            "type": "string"
          },
          "mediumRes": {
            "type": "string"
          },
          "lowRes": {
            "type": "string"
          },
          "svg": {
            "type": "string"
          }
        }
      },
      "FxRateDto": {
        "required": [
          "date",
          "currencyCode",
          "rate"
        ],
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "currencyCode": {
            "type": "string"
          },
          "rate": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
            "type": [
              "number",
              "string"
            ],
            "format": "double"
          }
        }
      },
      "LanguageDto": {
        "required": [
          "isoAlpha1",
          "isoAlpha3",
          "name"
        ],
        "type": "object",
        "properties": {
          "isoAlpha1": {
            "type": "string"
          },
          "isoAlpha3": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "LanguageFactsDto": {
        "required": [
          "isoAlpha1",
          "isoAlpha3",
          "name",
          "countriesWhereSpoken"
        ],
        "type": "object",
        "properties": {
          "isoAlpha1": {
            "type": "string"
          },
          "isoAlpha3": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "countriesWhereSpoken": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountryDto"
            }
          }
        }
      },
      "LoginRequestDto": {
        "required": [
          "email",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "RefreshTokenRequestDto": {
        "required": [
          "userId",
          "refreshToken"
        ],
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "refreshToken": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "RegisterRequestDto": {
        "required": [
          "email",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "TokenResponseDto": {
        "required": [
          "accessToken",
          "refreshToken"
        ],
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "ApiKeys"
    },
    {
      "name": "Auth"
    },
    {
      "name": "Countries"
    },
    {
      "name": "Currencies"
    },
    {
      "name": "FxRates"
    },
    {
      "name": "Languages"
    },
    {
      "name": "Stats"
    },
    {
      "name": "Users"
    }
  ]
}