{
  "openapi": "3.1.1",
  "info": {
    "title": "Atlas Stats API",
    "description": "The Atlas Stats API provides access to a wide range of statistical data, including GDP, population, and other key indicators for countries around the world. This API is designed to be fast, reliable, and easy to use, making it an ideal choice for developers looking to integrate statistical data into their applications.",
    "contact": {
      "name": "Atlas Stats",
      "url": "https://AtlasStatsAPI.com",
      "email": "support@AtlasStatsAPI.com"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://opensource.org/licenses/Apache-2.0"
    },
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.AtlasStatsAPI.com",
      "description": "Production Server"
    },
    {
      "url": "https://sandbox-api.AtlasStatsAPI.com",
      "description": "Sandbox Server for testing"
    }
  ],
  "paths": {
    "/v1/ApiKeys": {
      "get": {
        "tags": [
          "ApiKeys"
        ],
        "description": "Returns a list of the user's API key metadatas.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyMetadataPairDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ApiKeys/rotate": {
      "post": {
        "tags": [
          "ApiKeys"
        ],
        "description": "Rotates an existing API key, returning a new raw key.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Retrieves a filterable list of all countries with basic properties only (ISO codes).",
        "operationId": "GetCountries",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryDto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Countries/facts": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Retrieves a filterable list of country facts, with latest snapshot or time-series based on from/to.",
        "operationId": "GetCountriesFacts",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryFactsCollectionItemDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryFactsCollectionItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryFactsCollectionItemDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Countries/facts/{factCode}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Retrieves a single fact series for countries, with latest snapshot or time-series based on from/to.",
        "operationId": "GetCountriesFactByCode",
        "parameters": [
          {
            "name": "factCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryFactsCollectionItemDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryFactsCollectionItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryFactsCollectionItemDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Countries/{code}/facts": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Gets all facts for a single country, with latest snapshot or time-series based on from/to.",
        "operationId": "GetCountryFactsByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Countries/{code}/facts/{factCode}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Gets a single fact series for a single country, with latest snapshot or time-series based on from/to.",
        "operationId": "GetCountryFactByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "factCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Countries/facts/catalog": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Gets supported country fact codes and available ranges for the current result scope.",
        "operationId": "GetCountriesFactsCatalog",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Countries/{code}/facts/catalog": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Gets supported country fact codes and available ranges for a single country.",
        "operationId": "GetCountryFactsCatalogByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Countries/{code}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Gets basic properties for a single country.",
        "operationId": "GetCountryByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Countries/count": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Retrieves the total count of countries in the database.",
        "operationId": "GetCountriesCount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "pattern": "^-?(?:0|[1-9]\\d*)$",
                  "type": [
                    "integer",
                    "string"
                  ],
                  "format": "int32"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Currencies": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "description": "Retrieves a list of all currencies with basic properties only (code and full name).",
        "operationId": "GetCurrencies",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyDto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Currencies/facts": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "description": "Retrieves a list of currency facts, with latest snapshot or time-series based on from/to.",
        "operationId": "GetCurrenciesFacts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyFactsCollectionItemDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyFactsCollectionItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyFactsCollectionItemDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Currencies/facts/{factCode}": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "description": "Retrieves a single fact series for currencies, with latest snapshot or time-series based on from/to.",
        "operationId": "GetCurrenciesFactByCode",
        "parameters": [
          {
            "name": "factCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyFactsCollectionItemDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyFactsCollectionItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyFactsCollectionItemDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Currencies/{code}": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "description": "Gets basic properties for a single currency.",
        "operationId": "GetCurrencyByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Currencies/{code}/facts": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "description": "Gets all facts for a single currency, with latest snapshot or time-series based on from/to.",
        "operationId": "GetCurrencyFactsByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Currencies/{code}/facts/{factCode}": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "description": "Gets a single fact series for a single currency, with latest snapshot or time-series based on from/to.",
        "operationId": "GetCurrencyFactByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "factCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Currencies/facts/catalog": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "description": "Gets supported currency fact codes and available ranges for the current result scope.",
        "operationId": "GetCurrenciesFactsCatalog",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Currencies/{code}/facts/catalog": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "description": "Gets supported currency fact codes and available ranges for a single currency.",
        "operationId": "GetCurrencyFactsCatalogByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Currencies/count": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "description": "Retrieves the total count of currencies in the database.",
        "operationId": "GetCurrenciesCount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "pattern": "^-?(?:0|[1-9]\\d*)$",
                  "type": [
                    "integer",
                    "string"
                  ],
                  "format": "int32"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Languages": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Retrieves a list of all languages with basic properties only (ISO codes and name).",
        "operationId": "GetLanguages",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LanguageDto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Languages/facts": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Retrieves a list of language facts, with latest snapshot or time-series based on from/to.",
        "operationId": "GetLanguagesFacts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LanguageFactsCollectionItemDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LanguageFactsCollectionItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LanguageFactsCollectionItemDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Languages/facts/{factCode}": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Retrieves a single fact series for languages, with latest snapshot or time-series based on from/to.",
        "operationId": "GetLanguagesFactByCode",
        "parameters": [
          {
            "name": "factCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LanguageFactsCollectionItemDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LanguageFactsCollectionItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LanguageFactsCollectionItemDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Languages/{codeOrName}": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Gets basic properties for a single language.",
        "operationId": "GetLanguageByCodeOrName",
        "parameters": [
          {
            "name": "codeOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Languages/{codeOrName}/facts": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Gets all facts for a single language, with latest snapshot or time-series based on from/to.",
        "operationId": "GetLanguageFactsByCodeOrName",
        "parameters": [
          {
            "name": "codeOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Languages/{codeOrName}/facts/{factCode}": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Gets a single fact series for a single language, with latest snapshot or time-series based on from/to.",
        "operationId": "GetLanguageFactByCodeOrName",
        "parameters": [
          {
            "name": "codeOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "factCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFactsResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Languages/facts/catalog": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Gets supported language fact codes and available ranges for the current result scope.",
        "operationId": "GetLanguagesFactsCatalog",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Languages/{codeOrName}/facts/catalog": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Gets supported language fact codes and available ranges for a single language.",
        "operationId": "GetLanguageFactsCatalogByCodeOrName",
        "parameters": [
          {
            "name": "codeOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FactCatalogItemDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Languages/count": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Retrieves the total count of languages in the database.",
        "operationId": "GetLanguagesCount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "pattern": "^-?(?:0|[1-9]\\d*)$",
                  "type": [
                    "integer",
                    "string"
                  ],
                  "format": "int32"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Users": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "GetCurrentUser",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiKeyDto": {
        "required": [
          "rawKey",
          "metadata"
        ],
        "type": "object",
        "properties": {
          "rawKey": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/ApiKeyMetadataDto"
          }
        }
      },
      "ApiKeyMetadataDto": {
        "required": [
          "keyPrefix",
          "createdAt",
          "lastUsedAt"
        ],
        "type": "object",
        "properties": {
          "keyPrefix": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastUsedAt": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          }
        }
      },
      "ApiKeyMetadataPairDto": {
        "required": [
          "activeApiKey",
          "expiringApiKey"
        ],
        "type": "object",
        "properties": {
          "activeApiKey": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ApiKeyMetadataDto"
              }
            ]
          },
          "expiringApiKey": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ApiKeyMetadataDto"
              }
            ]
          }
        }
      },
      "CountryDto": {
        "required": [
          "isoAlpha2",
          "isoAlpha3",
          "isoNumeric"
        ],
        "type": "object",
        "properties": {
          "isoAlpha2": {
            "type": "string"
          },
          "isoAlpha3": {
            "type": "string"
          },
          "isoNumeric": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          }
        }
      },
      "CountryEntityRefDto": {
        "required": [
          "isoAlpha2",
          "isoAlpha3",
          "isoNumeric"
        ],
        "type": "object",
        "properties": {
          "isoAlpha2": {
            "type": "string"
          },
          "isoAlpha3": {
            "type": "string"
          },
          "isoNumeric": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          }
        }
      },
      "CountryFactsCollectionItemDto": {
        "required": [
          "entity",
          "facts"
        ],
        "type": "object",
        "properties": {
          "entity": {
            "$ref": "#/components/schemas/CountryEntityRefDto"
          },
          "facts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FactSeriesDto"
            }
          }
        }
      },
      "CurrencyDto": {
        "required": [
          "code",
          "fullName"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          }
        }
      },
      "CurrencyEntityRefDto": {
        "required": [
          "code"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          }
        }
      },
      "CurrencyFactsCollectionItemDto": {
        "required": [
          "entity",
          "facts"
        ],
        "type": "object",
        "properties": {
          "entity": {
            "$ref": "#/components/schemas/CurrencyEntityRefDto"
          },
          "facts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FactSeriesDto"
            }
          }
        }
      },
      "EntityFactsResponseDto": {
        "required": [
          "facts"
        ],
        "type": "object",
        "properties": {
          "facts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FactSeriesDto"
            }
          }
        }
      },
      "FactCatalogItemDto": {
        "required": [
          "factCode",
          "supportsRange",
          "availableFrom",
          "availableTo"
        ],
        "type": "object",
        "properties": {
          "factCode": {
            "type": "string"
          },
          "supportsRange": {
            "type": "boolean"
          },
          "availableFrom": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "availableTo": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          }
        }
      },
      "FactPointDto": {
        "required": [
          "validFrom",
          "validTo",
          "value",
          "related"
        ],
        "type": "object",
        "properties": {
          "validFrom": {
            "type": "string",
            "format": "date-time"
          },
          "validTo": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "value": {
            "$ref": "#/components/schemas/FactValueDto"
          },
          "related": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/RelatedEntityRefDto"
              }
            ]
          }
        }
      },
      "FactSeriesDto": {
        "required": [
          "factCode",
          "points"
        ],
        "type": "object",
        "properties": {
          "factCode": {
            "type": "string"
          },
          "points": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FactPointDto"
            }
          }
        }
      },
      "FactValueDto": {
        "required": [
          "kind"
        ],
        "type": "object",
        "anyOf": [
          {
            "$ref": "#/components/schemas/FactValueDtoBooleanFactValueDto"
          },
          {
            "$ref": "#/components/schemas/FactValueDtoNumberFactValueDto"
          },
          {
            "$ref": "#/components/schemas/FactValueDtoStringFactValueDto"
          },
          {
            "$ref": "#/components/schemas/FactValueDtoStringListFactValueDto"
          },
          {
            "$ref": "#/components/schemas/FactValueDtoObjectFactValueDto"
          }
        ],
        "discriminator": {
          "propertyName": "kind",
          "mapping": {
            "boolean": "#/components/schemas/FactValueDtoBooleanFactValueDto",
            "number": "#/components/schemas/FactValueDtoNumberFactValueDto",
            "string": "#/components/schemas/FactValueDtoStringFactValueDto",
            "string-list": "#/components/schemas/FactValueDtoStringListFactValueDto",
            "object": "#/components/schemas/FactValueDtoObjectFactValueDto"
          }
        }
      },
      "FactValueDtoBooleanFactValueDto": {
        "required": [
          "value"
        ],
        "properties": {
          "kind": {
            "enum": [
              "boolean"
            ],
            "type": "string"
          },
          "value": {
            "type": "boolean"
          }
        }
      },
      "FactValueDtoNumberFactValueDto": {
        "required": [
          "value"
        ],
        "properties": {
          "kind": {
            "enum": [
              "number"
            ],
            "type": "string"
          },
          "value": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
            "type": [
              "number",
              "string"
            ],
            "format": "double"
          }
        }
      },
      "FactValueDtoObjectFactValueDto": {
        "required": [
          "value"
        ],
        "properties": {
          "kind": {
            "enum": [
              "object"
            ],
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/JsonElement"
          }
        }
      },
      "FactValueDtoStringFactValueDto": {
        "required": [
          "value"
        ],
        "properties": {
          "kind": {
            "enum": [
              "string"
            ],
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "FactValueDtoStringListFactValueDto": {
        "required": [
          "value"
        ],
        "properties": {
          "kind": {
            "enum": [
              "string-list"
            ],
            "type": "string"
          },
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "JsonElement": { },
      "LanguageDto": {
        "required": [
          "isoAlpha1",
          "isoAlpha3",
          "name"
        ],
        "type": "object",
        "properties": {
          "isoAlpha1": {
            "type": "string"
          },
          "isoAlpha3": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "LanguageEntityRefDto": {
        "required": [
          "isoAlpha1",
          "isoAlpha3"
        ],
        "type": "object",
        "properties": {
          "isoAlpha1": {
            "type": "string"
          },
          "isoAlpha3": {
            "type": "string"
          }
        }
      },
      "LanguageFactsCollectionItemDto": {
        "required": [
          "entity",
          "facts"
        ],
        "type": "object",
        "properties": {
          "entity": {
            "$ref": "#/components/schemas/LanguageEntityRefDto"
          },
          "facts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FactSeriesDto"
            }
          }
        }
      },
      "LoginRequestDto": {
        "required": [
          "email",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "RefreshTokenRequestDto": {
        "required": [
          "userId",
          "refreshToken"
        ],
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "refreshToken": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "RegisterRequestDto": {
        "required": [
          "email",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "RelatedEntityRefDto": {
        "required": [
          "countryIsoAlpha3",
          "currencyCode",
          "languageIsoAlpha3"
        ],
        "type": "object",
        "properties": {
          "countryIsoAlpha3": {
            "type": [
              "null",
              "string"
            ]
          },
          "currencyCode": {
            "type": [
              "null",
              "string"
            ]
          },
          "languageIsoAlpha3": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "TokenResponseDto": {
        "required": [
          "accessToken",
          "refreshToken"
        ],
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "ApiKeys"
    },
    {
      "name": "Auth"
    },
    {
      "name": "Countries"
    },
    {
      "name": "Currencies"
    },
    {
      "name": "Languages"
    },
    {
      "name": "Users"
    }
  ]
}